<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Peer-graded Assignment (Tools for Data Science)

#### This is my Assignment for the IBM Course Tools for Data Science.

**Data Science Languages:**
1. Python
2. R
3. SQL
4. SAS
5. Julia
6. Scala
7. MATLAB

**Data Science Libraries:**
1. Python Libraries:
    1. NumPy
    2. Pandas
    3. TensorFlow
    4. PyTorch
2. R Libraries:
    1. ggplot
    2. caret
3. SQL Libraries:
    1. Apache Spark
    2. Apache Hive

| Data Science Tools | 
|--------------------|
|    Jupyter Lab     | 
|      R-Studio      |
|       Spyder       |

### Arithmetic expression examples:
$2 * (4 + 3)$: This expression will be evaluated as $2 * 7 = 14$, following the order of operations (parentheses first, then multiplication). \
$2 + 3 * 4$: This expression will be evaluated as $2 + (3 * 4) = 14$, following the order of operations (multiplication first, then addition).

In [1]:
'This a simple arithmetic expression to mutiply then add integers:'
print((3*4)+5)

17

In [2]:
'This will convert 200 minutes to hours by diving by 60'
print(200/60)

3.3333333333333335

**Objectives:** 
* Data Collection
* Data Cleaning and Preparation
* Data Analysis
* Data Visualization
* Model Building
* Model Evaluation and Refinement
* Deployment and Integration

## Author
Kim Wurster